


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  .list-inline{
    display: inline-block;
    padding: 0px 7px 0px 7px;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Mega Menu header, if needed */
  .dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
  }
  
  /* Style links inside the columns */
  .column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a background color on hover */
  .column a:hover {
    background-color: #ddd;
  }
  .kkll{
    width:100%
  }
  .wideHeader{
   width: 100%;
  padding: 10px;
  
  }
  .wideHeader h2{
    font-size: 12px;
    font-weight: 600;
    padding-left: 20px
  }
  .wideHeader li ul li{

    line-height: 10px;

  }
  



  
.whatsappme__button {
   
  position: fixed;
    z-index: 1004;
   bottom: 28px;
    left: 30px;
    height: 60px;
    min-width: 60px;
    max-width: 95vw;
    background-color: #25D366;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color 500ms ease-in-out;
}

.whatsappme__box {
     display: none;
  position: fixed;
         bottom: 23px;
    left: 22px;
    
 z-index: 1000;
    
    
   
/*
 
   
    z-index: 1;
*/
    width: calc(100vw - 40px);
    max-width: 400px;
    min-height: 280px;
    padding-bottom: 60px;
    border-radius: 32px;
    
     background: #ede4dd url(../../assets/img/whatsapp/whatsapp_background_solutionsally.png) center repeat-y;
/*
    background: #ede4dd url(whatsapp_background.png) center repeat-y;
    background-size: 100% auto;
*/
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5);
/*
    overflow: hidden;
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 300ms ease-out, transform 0ms linear 300ms;
*/
}
.whatsappme__box img{
   height: 40px;
      margin: 10px;
}
 .whatsapp-text {
        
    
    position: absolute;
    top: 18px;
    right: 284px;
    width: 34px;
    height: 34px;
    /* border-radius: 50%; */
    /* background: #000; */
    color: #fff;
    line-height: 25px;
    font-size: 23px;
    text-align: center;
    opacity: 0.4;

        
    }

.whatsappme__header {
    height: 70px;
    padding: 0 26px;
    background-color: #2e8c7d;
    color: rgba(255, 255, 255, .5);
    border-radius: 33px 33px 0 0;
}

.whatsappme__close {
    position: absolute;
    top: 18px;
    right: 24px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 34px;
    font-size: 25px;
    text-align: center;
    opacity: .4;
    cursor: pointer;
    transition: opacity 300ms ease-out;
}
.whatsappme__message {
    position: relative;
    min-height: 80px;
    padding: 20px 22px;
    margin: 34px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4A4A4A;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.whatsappme__message::before {
/*
    content: '';
    display: block;
    position: absolute;
    bottom: 30px;
    left: -18px;
    width: 18px;
    height: 18px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADcAAAA1CAYAAADlE3NNAAAEr0lEQ…00059JUY3ZHFm8k1lT0cGfnJw8c0ojepWFzd6CMpnM3y8AJPEkZ9khO4IAAAAASUVORK5CYII=);
    background-size: 100%;
*/
    
    content:"";
   position: absolute;
      right: 100%;
    top: 70px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 4px solid transparent;
    
}
