@import 'https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css';


textarea {
    height: 50px
}

.row {
    margin-bottom: 6px
}

.whatsappme__button1 {
    position: fixed;
    z-index: 1004;
    bottom: 28px;
    right: 30px;
    height: 63px;
    min-width: 63px;
    max-width: 95vw;
    background-color: #c58652;
    color: #fff;
    border-radius: 30px;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color .5s ease-in-out
}

.pull-right img {
    padding-left: 5px
}

.whatsappme__box1 {
    display: none;
    position: fixed;
    bottom: 107px;
    right: 10px;
    z-index: 1000;
    width: calc(100vw - 40px);
    max-width: 400px;
    min-height: 320px;
    padding-bottom: 10px;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .5)
}

.input-field label {
    /* color: #999;
    top: -10px;
    left: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0; */
    padding-top: 1px;
    padding-left: 2px;
}

.whatsapp-text1,
.whatsappme__close1 {
    position: absolute;
    top: 18px;
    width: 34px;
    text-align: center;
    opacity: .4
}

.whatsappme__box1 img {
    height: 40px;
    margin: 10px
}

.whatsapp-text1 {
    right: 284px;
    height: 34px;
    color: #fff;
    line-height: 25px;
    font-size: 23px
}

.whatsappme__header1 {
    height: 70px;
    padding: 0 26px;
    background-color: #2e8c7d;
    color: rgba(255, 255, 255, .5);
    border-radius: 33px 33px 0 0
}


.whatsappme__close1 {
    right: 24px;
    height: 34px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    line-height: 34px;
    font-size: 25px;
    cursor: pointer;
    transition: opacity .3s ease-out
}
#message_close i{
    font-size: 25px;
    padding: 5px;
}

.whatsappme__message1 {
    position: relative;
    min-height: 80px;
    padding: 20px 22px;
    margin: 34px 26px;
    border-radius: 32px;
    background-color: #fff;
    color: #4A4A4A;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3)
}

.pull-right .dot,
.triangle-isosceles {
    color: #fff;
    box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, .24);
    cursor: pointer;
    transition: background-color .5s ease-in-out
}

.whatsappme__message1::before {
    content: "";
    position: absolute;
    right: 100%;
    top: 70px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 22px solid #fff;
    border-bottom: 4px solid transparent
}

form {
    width: 395px;
    padding: 26px 10px 10px 12px
}

.triangle-isosceles {
  position: fixed;
  z-index: 1004;
  bottom: 38px;
  right: 112px;
  height: 47px;
  width: 156px;
  background-color: #fff;
  border-radius: 5px;
}

.triangle-isosceles:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 13px;
    left: 156px;
    width: 0;
    border-width: 14px 17px 0 0;
    border-style: solid;
    border-color: #fff transparent
}

.pull-right .dot {
    position: fixed;
    z-index: 1005;
    bottom: 44px;
    right: 31px;
    height: 14px;
    min-width: 14px;
    max-width: 95vw;
    background-color: #6ab937;
    border-radius: 30px
}
.light{
    background-color: #bacbdd;
    color: white;
}
.form_error{
    
    color: red;
 
}





/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../../assets/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../../assets/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../../assets/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../../assets/fonts/poppins/Poppins-SemiBold.ttf'); 
  } 
  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  * {
      margin: 0px; 
      padding: 0px; 
      box-sizing: border-box;
  }
/*   
  body, html {
      height: 100%;
      font-family: Poppins-Regular, sans-serif;
  }
   */
  /*---------------------------------------------*/
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  input[type="number"] {
      -moz-appearance: textfield;
      appearance: none;
      -webkit-appearance: none;
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
  }
  
  textarea {
    outline: none;
    border: none;
   
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder {color: #999999;}
  input:-moz-placeholder {color: #999999;}
  input::-moz-placeholder {color: #999999;}
  input:-ms-input-placeholder {color: #999999;}
  
  textarea::-webkit-input-placeholder {color: #999999;}
  textarea:-moz-placeholder {color: #999999;}
  textarea::-moz-placeholder {color: #999999;}
  textarea:-ms-input-placeholder {color: #999999;}
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
  
  #container-contact100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: transparent;
    position: relative;
    z-index: 1;
  }
  
  #contact100-map {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #wrap-contact100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  /*==================================================================
  [ Title form ]*/
  #contact100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
    padding: 22px 21px 23px 15px;
  }
  /* #contact100-form-title img{
     width:100%
  } */
  
  .contact100-form-title-1 {
    font-family: Poppins-Bold;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 7px;
  }
  
  .contact100-form-title-2 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
  }
  
  
  .contact100-form-title::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(54,84,99,0.7);
  }
  
  
  /*==================================================================
  [ Form ]*/
  
  #contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 43px 88px 57px 190px;
  }
  
  
  /*------------------------------------------------------------------
  [ Input ]*/
  
  #wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
    margin-bottom: 26px;
  }
  
  #label-input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
  
    position: absolute;
    top: 14px;
    /* left: -105px; */
    width: 80px;
  
  }
  
  /*---------------------------------------------*/
  /* #input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
  
    display: block;
    width: 100%;
    background: transparent;
    padding: 0 5px;
  } */
  #input100{
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 67%;
    background: transparent;
    padding: 0 5px;
    margin-left: 118px;
}
  
  #focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  #focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
  
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
  
    background: #57b846;
  }
  
  
  /*---------------------------------------------*/
  input#input100 {
    height: 45px;
  }
  
  
  textarea#input100 {
    min-height: 90px;
    padding-top: 14px;
    padding-bottom: 13px;
    background-color: #e3f5f5;
  }
  
  
  #input100:focus + #focus-input100::before {
    width: 100%;
  }
  
  .has-val#input100 + #focus-input100::before {
    width: 100%;
  }
  
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;

  }
  
  .contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 38px;
    background-color: #57b846;
    border-radius: 25px;
  
    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .contact100-form-btn:hover {
    background-color: #333333;
  }
  
  .contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  @media (max-width: 576px) {
    .contact100-form {
      padding: 43px 15px 57px 117px;
    }
  }
  
  @media (max-width: 480px) {
    .contact100-form {
      padding: 43px 15px 57px 15px;
    }
  
    #label-input100 {
      text-align: left;
      position: unset;
      top: unset;
      left: unset;
      width: 100%;
      padding: 0 5px;
    }
  }
  
  
  /*------------------------------------------------------------------
  [ Alert validate ]*/
  
  .validate-input {
    position: relative;
  }
  
  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
  
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
  }
  
  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  button {
    margin: auto;
}

form[_ngcontent-c2] {
  width: 475px;
  padding: 20px 10px 10px 12px;
}
#ex1{
  padding: 0px;
  top: 50px;
  height: 100%;

}


.close_btn {
 
    position: absolute;
    top: 4.5px;
    right: 14.5px;
    display: block;
    background-color: white;
    border-radius: 50%;
    z-index: 23;
    color: blue;
    width: 29px;
    height: 30px;
    padding: 0px 0px 0px 9px;
    font-size: 18px;
}






































