

 <div class="triangle-isosceles center"><p style="color:rgb(53, 48, 48);padding:2px">Welcome To Solutionsally</p></div>
<div class="pull-right">

    <span class="dot"></span>  
 <div class="  whatsappme__button1">
    
        <a href="#ex1" rel="modal:open" >

                <img src="assets/img/icons8-administrator-male-50_solutionsally.png" alt="Kiwi standing on oval"> 
          
           </a>
   
   

</div>
</div>
<div id="div1">

<div id="ex1" class="modal">
        <div class="wrap-contact1001 green123 red123" id="wrap-contact101">
                <div class="contact100-form-title red123" id="contact100-form-title" style="background-image: url(assets/img/solutionsally_form.jpg)">
                <span class="contact100-form-title-1 red123">
                    Contact Us
                </span>

                <!-- <span class="contact100-form-title-2 red123">
                    Feel free to drop us a line below!
                </span> -->
            </div>

        <form class="contact100-form validate-form dddd red123" id="xyz contact100-form validate-form" [formGroup]="form" (ngSubmit)="login();submitted= true">
                <div class="wrap-input100 validate-input dddd red123" id=" wrap-input100 validate-input" data-validate="Name is required" >
                    <span class="label-input100" id="label-input100">Full Name:</span>
                    <input formControlName="name" class="form-control" class="input100" id="input100" type="text" name="name" placeholder="Enter full name">
                    <!-- <span class="focus-input100" id="focus-input100"></span> -->
                </div>

                <div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input100" id="label-input100">Email:</span>
                    <input formControlName="email" class="form-control" class="input100" id="input100"  type="text" name="email" placeholder="Enter email addess">
                    <!-- <span class="focus-input100" id="focus-input100" ></span> -->
                </div>

                <div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate="Subject is required">
                    <span class="label-input100" id="label-input100">Subject:</span>
                    <input formControlName="subject" class="form-control" class="input100" id="input100" type="text" name="subject" placeholder="Enter subject">
                    <!-- <span class="focus-input100" id="focus-input100" ></span> -->
                </div>

                <div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Message is required">
                    <span class="label-input100" id="label-input100">Message:</span>
                    <textarea formControlName="message" class="form-control" class="input100" id="input100" name="message" placeholder="Your Comment..."></textarea>
                    <!-- <span class="focus-input100" id="focus-input100" ></span> -->
                </div>

                <div class="container-contact100-form-btn ">
                    <button class="contact100-form-btn ">
                        <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </form>
            
            <a href="#" class="close_btn" rel="modal:close">x</a>
      </div>
      </div>
    </div>


  <app-footer4></app-footer4>
