<!--page title start-->
<section class="page-title ptb-30">
  <div class="container padding-top-40">
      <div class="row">
          <div class="col m12">
              <h6 class="pagetitles">Contact us</h6>
              <ol class="breadcrumb">
                  <li><a href="#">Home</a></li>
                  <li class="active">contact us</li>
              </ol>
          </div>
      </div>
  </div>
</section>
<!--page title end-->


<!-- contact-form-section -->
<section class="section-padding">

<div class="container">

  <div class="center mb-15">
      <h2 class="section-title text-uppercase">Get in Touch</h2>
      <p class="section-sub">Solutionsally is one of the fastest growing Mobile Application Development company. we are specialised in providing best in class technology and support solution to cater growing business needs.</p>
  </div>

  <div class="row">
      <div class="col m6 padding-right-0" style="border:1px solid #d6e9c6;padding:30px">
        <div class="panel panel-success" >
          <div class="panel-body" >
          <h3><b>Contact Us</b></h3>
              <div class="row" >
                <div class="col m12 " >
                 <form [formGroup]="form" (ngSubmit)="login();submitted= true" >
                      <div class="row">
                        <div class="col m6">
                          <div class="input-field">
                            <i class="fa fa-user prefix fontcolors"></i>
                            <input type="text" formControlName="name" class="form-control" id="name" >
                            <label *ngIf="(!form.get('name').touched && !submitted) || (submitted && !showMessage)" for="name">Name </label>
                            <label class="error" *ngIf="(form.get('name').touched && form.get('name').invalid && showMessage) || (submitted && form.get('name').invalid && showMessage) " for="name">Full Name is required</label>
                            <!-- <span *ngIf="(form.get('name').touched && form.get('name').invalid && showMessage) || (submitted && form.get('name').invalid && showMessage) ">Full Name is required</span> -->
                            <!-- <span  *ngIf="" for="name1">scessfull </span> -->
                            </div>
                        </div><!-- /.col m6 -->
                        <div class="col m6">
                          <div class="input-field">
                            <i class="fa fa-envelope prefix fontcolors"></i>
                            <input type="email" formControlName="email" class="form-control"  id="email" >
                            <label *ngIf="(!form.get('email').touched && !submitted) || (submitted && !showMessage)" for="email">Email </label>
                            <label class="error" *ngIf="(form.get('email').touched && form.get('email').invalid && showMessage) || (submitted && form.get('email').invalid && showMessage) " for="email">Email is required</label>
                            
                         <!-- <span *ngIf="(form.get('email').touched && form.get('email').invalid && showMessage) || (submitted && form.get('email').invalid && showMessage)">Email is required</span> -->
                         </div>
                        </div><!-- /.col m6 -->
                      </div><!-- /.row -->
  
                      <div class="row">
                        <div class="col m12">
                          <div class="input-field">
                            <i class="fa fa-book prefix fontcolors"></i>
                            <input id="subject" type="text" formControlName="subject" class="form-control" >
                            <label *ngIf="(!form.get('subject').touched && !submitted) || (submitted && !showMessage)" for="subject">Subject </label>
                            <label class="error" *ngIf="(form.get('subject').touched && form.get('subject').invalid && showMessage) || (submitted && form.get('subject').invalid && showMessage) " for="subject">Subject is required</label>
                            
                            <!-- <span *ngIf="(form.get('subject').touched && form.get('subject').invalid && showMessage) || (submitted && form.get('subject').invalid && showMessage)">Subject is required</span> -->
                          </div>
                        </div><!-- /.col m6 -->
                        </div>
                      <div class="input-field">
                        <i class="fa fa-commenting-o prefix fontcolors"></i>
                        <textarea formControlName="message" id="message" class="form-control"  style="border:none" ></textarea>
                        <label for="message">Message</label>
                      </div>
                      <button type="submit" name="submit" class="btn-sm btnclass" >Send Message</button>
                      </form>
                </div>
              </div>
          </div>
        </div>
      </div><!-- /.col m8 -->

      <div class="col m6 contact-info padding-right-0">
         <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1zaoCDS4JispLhVabcJnbm9A3Q_4" width="554" height="320"  frameborder="0"  allowfullscreen></iframe>-->
		  <iframe src="https://www.google.com/maps/d/embed?mid=1r1Q2hLbjFs2ueCkLMLQaQOT1Rn7IPIhT" width="554" height="320" frameborder="0"  allowfullscreen></iframe>
      </div><!-- /.col m4 -->
  </div><!-- /.row --><br>
    <div class="panel panel-success col m12 mb-40" style="margin-left:-13px;width:99%">
      <div class="panel-body" style="border:1px solid #d6e9c6; padding:30px">
        <div class="row">
          <div class="col m3 borderright">
            <h3><b><a>*</a>India :</b></h3>
            <p><b>125, 1st Floor Hoysala Circle, <br>Kengeri Satellite Town,<br>Bangalore Karnataka 560060.</b></p>
          </div>
          <div class="col m3 borderright">
              <h3><b><a>*</a>Jaipur :</b></h3>
              <p><b>4th Floor , P.No 5 Niram Nagar AB, Ajmer Road , Jaipur ,<br> Rajasthan , Pin : 302019</b><br></p>
          </div>
          <div class="col m3 borderright">
              <h3><b><a>*</a>Canada</b></h3>
              <p><b>25th bay street,<br>toronto Ontario ,<br> Canada M5J 2N8</b></p><br>
          </div>
          <div class="col m3">
              <h3><b><a>*</a>United States :</b></h3>
            <p><b>SolutionsAlly, <br>650 California St <br> San Francisco,CA 94108</b></p>
          </div>
        </div>
    </div>
    </div>
</div>
</section>
<!-- contact-form-section End -->