
 <!--page title start-->
 <section class="page-title ptb-30">
        <div class="container padding-top-40">
            <div class="row">
                <div class="col m12">
                    <h6 class="pagetitles">Services</h6>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">products</a></li>
                        <li class="active">field force automation</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

        <img src="assets/img/products/banner/field_force_automation_solutionsally.png" class="fullwidth" alt="field_force_automation_solutionsally">


          <div class="container row padding-top-20">
              <div class="col m7">
                  <h2 class="text-bold mb-10">feild force automation</h2>
                  
              </div>

              <div class="col m5">
                  <img src="assets/img/products/ffa_solutionsally.png" class="img-responsive " alt="ffa_solutionsally">
              </div>
          </div>

    
<app-footer5></app-footer5>
           
<app-footer2></app-footer2>
