
        <!--page title start-->
        <section class="page-title ptb-30">
          <div class="container padding-top-40">
              <div class="row">
                  <div class="col-md-12">
                      <h6 class="pagetitles">Clients</h6>
                      <ol class="breadcrumb">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">our clients</a></li>
                      </ol>
                  </div>
              </div>
          </div>
      </section>
      <!--page title end-->

      <section class="section-padding">
          <div class="container">
             
            <div class="center mb-80">
                <h2 class="section-title text-uppercase">Awesome clients</h2>
                <p class="section-sub">We are a client-centric organization. Our clients love us back as much as we love them. We have nearly 100% client retention rate from the day of inception.</p>
            </div>
            <div class=" gutter">
              <div class="row">
                  <div class="owl-carousel owl-theme" id="customers-carousel3">
                      <div class="item active">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_akg_solutionsally_2.png" alt="our_clients_akg_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_ang_solutionsally_2.png" alt="our_clients_ang_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_archi_solutionsally_2.png" alt="our_clients_archi_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_arfma_solutionsally_2.png" alt="our_clients_arfma_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_barma_solutionsally_2.jpg" alt="our_clients_barma_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_ccat_solutionsally_2.png" alt="our_clients_ccat_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_fashion_solutionsally_2.png" alt="our_clients_fashion_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_gp_solutionsally_2.png" alt="our_clients_gp_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_he_solutionsally_2.png" alt="our_clients_he_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_jms_solutionsally_2.png" alt="our_clients_jms_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_kuch_solutionsally_2.png" alt="our_clients_kuch_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_kvrc_solutionsally_2.png" alt="our_clients_kvrc_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_lg_solutionsally.png" alt="our_clients_lg_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_mp_solutionsally.png" alt="our_clients_mp_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_mut_solutionsally.png" alt="our_clients_mut_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_omf_solutionsally.png" alt="our_clients_omf_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_pg_solutionsally.png" alt="our_clients_pg_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_pre_solutionsally.png" alt="our_clients_pre_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_q8_solutionsally.jpg" alt="our_clients_q8_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rb_solutionsally.png" alt="our_clients_rb_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rbcaterers_solutionsally.png" alt="our_clients_rbcaterers_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rel_solutionsally.png" alt="our_clients_rel_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_rkcatring_solutionsally.png" alt="our_clients_rkcatring_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_sai_solutionsally.png" alt="our_clients_sai_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_saiele_solutionsally.png" alt="our_clients_saiele_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_sig_solutionsally.png" alt="our_clients_sig_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_smv_solutionsally.png" alt="our_clients_smv_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_svassa_solutionsally.jpg" alt="our_clients_svassa_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_tp_solutionsally.png" alt="our_clients_tp_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_vb_solutionsally.png" alt="our_clients_vb_solutionsally">
                              </a>
                          </div>
                      </div>
                      <div class="item">
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_vstrack_solutionsally.png" alt="our_clients_vstrack_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_yecons_solutionsally.png" alt="our_clients_yecons_solutionsally">
                              </a>
                          </div><br>
                          <div class="border-box">
                              <a href="#">
                                  <img src="assets/img/client-logo/our_clients_del_solutionsally.png" alt="our_clients_envato_solutionsally">
                              </a>
                          </div>
                      </div>
                  </div>
              </div><!-- /.row -->
            </div><!-- /.clients-grid -->
          </div><!-- /.container -->
      </section><br>

      <!-- <div class="container-contact1001">
		

		<div class="wrap-contact1001" id="wrap-contact101">
			<div class="contact100-form-title" id="contact100-form-title" style="background-image: url(images/bg-01.jpg);">
				<span class="contact100-form-title-1">
					Contact Us
				</span>

				<span class="contact100-form-title-2">
					Feel free to drop us a line below!
				</span>
			</div>

			<form class="contact100-form validate-form" id="contact100-form validate-form">
				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100" id="label-input100">Full Name:</span>
					<input class="input100" id="input100" type="text" name="name" placeholder="Enter full name">
					<span class="focus-input100" id="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100" id="label-input100">Email:</span>
					<input class="input100" id="input100"  type="text" name="email" placeholder="Enter email addess">
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate="Phone is required">
					<span class="label-input100" id="label-input100">Phone:</span>
					<input class="input100" id="input100" type="text" name="phone" placeholder="Enter phone number">
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="wrap-input100 validate-input" id="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100" id="label-input100">Message:</span>
					<textarea class="input100" id="input100" name="message" placeholder="Your Comment..."></textarea>
					<span class="focus-input100" id="focus-input100" ></span>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Submit
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div> -->



