

<div class="banner" style="position:relative;height:200px">
	<img class="responsive-img" src="assets/img/portfolio/Real-time-Routing-of-Support-Requests2.jpg"  >
	<h1 style="position:absolute; top:100px;color:rgb(252, 252, 252);left:100px"> Sir M V Institute</h1>
</div>



   <div class="container" >
        <!-- Page Content goes here -->
		<div class="row">
         <div class="col m9">
         	<div class="portfolio_content">
         		<div class="left-align">
         			<!-- <h3>The Problem</h3> -->
         		</div>
         		<ul>
         			<li>
                Sir M V Institute of Engineering Skills conducts training with live projects data and projects conducted by our consultancy wing is avilable to  students and freshers for glance. We use technologies and procedures used as on today to upgrade the skills.

                
         			</li>
         		</ul>
         	</div>
         	<div class="portfolio_content">
         		<div class="left-align">
         			<h1>The Solution</h1>
         		</div>
         		<ul>
         			<li>
                skill development  training
         			</li>
         			<li>
                live projects
         			</li>
         		</ul>
         	</div>
         </div>
         <div class="col m3">
         	<div class="portfolio_category">
         		<div class="left-align">
         			<h3>Category</h3>
         		</div>
         		<ul>
         			<!-- <li>
         				Salesforce Development
         			</li> -->
         		</ul>
         	</div>
         </div>
     </div> <!-- row -->

   

      <div class="progress">
        <div class="progress-bar bg-success" style="width:46%">
          <!-- Free Space -->
        </div>
        <div class="progress-text bg-warning" style="width:8%;">
          <b>Identity</b>
        </div>
        <div class="progress-bar bg-success" style="width:46%;">
        <!--   Danger -->
        </div>
      </div>


        <img class="responsive-img" src="assets/img/portfolio/music-stickers.png">

				<div class="form_header">
						<h1 class="center-align">Let’s Talk</h1>
						<h5 class="center-align">Get Started</h5>
				</div>

      <div class="row">
				<div class="col m8 offset-m2">
						<form method="post" id="contactForm" (ngSubmit)="login();contactform.reset(); Success()" #contactform="ngForm"  >
								<div class="row">
									<div class="col m12">
										<div class="input-field">
											<i class="fa fa-user prefix fontcolors"></i>
											<input type="text" name="name" class="validate" id="name"  [(ngModel)]='name' >
											<label for="name">Name</label>
										</div>
									</div><!-- /.col m6 -->
									<div class="col m12">
										<div class="input-field">
											<i class="fa fa-envelope prefix fontcolors"></i>
											<input id="email" type="email" name="email" class="validate"   [(ngModel)]='email' >
											<label for="email" data-error="wrong" data-success="right">Email</label>
										</div>
									</div><!-- /.col m6 -->
							
									
										<!-- <div class="col m12">
												<div class="input-field">
													<i class="fa fa-phone prefix fontcolors"></i>
													<input id="subject" type="tel" name="phoneNumber" class="validate"  [(ngModel)]='subject' >
													<label for="subject">Phone number</label>
												</div>
											</div> -->
									<div class="col m12">
										<div class="input-field">
											<i class="fa fa-phone  prefix fontcolors"></i>
											<input id="subject" type="tel" name="subject" class="validate"  [(ngModel)]='subject' >
											<label for="subject">Phone number</label>
										</div>
									</div><!-- /.col m6 -->
									</div>
								<div class="input-field">
									<i class="fa fa-commenting-o prefix fontcolors"></i>
									<textarea name="message" id="message" class="form-control"  [(ngModel)]='message' style="border:none" ></textarea>
									<label for="message">Message</label>
								</div>
								<button type="submit" name="submit" class="btn-sm btnclass"  [disabled]="!contactform.form.valid" >SEND US YOUR INQUIRY</button>
								</form>
				
		 </div> 	<!-- col m7 -->

		 <!-- <div class="col m5">

			<div class="contact_details">
					<div class="left-align">
							<div class="text_field">
								<h2>New Business</h2>
								<a href=""><span>inquiry@solutionsally.com</span></a>
							</div>
							<div class="text_field">
									<h2>Call Us</h2>
									<a href=""><p>+91-79-40050553 (IND)</p></a>
									<a href=""><p>+1-954-410-8550 (USA)</p></a>
								</div>
								<div class="text_field">
										<h2>Skype</h2>
										<a href=""><p>solutionsally12345</p></a>
									</div>
									<div class="text_field">
											<h2>New Business</h2>
											<a href=""><p>solutionsally12345</p></a>
										</div>
						</div>
			</div>
				
		 </div> -->

		</div> <!--  row -->
				

      </div> <!-- container -->
