input, select, textarea{
    color: #050505;
}

/* .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
} */
#myModal{

   min-width: 100%;
   min-height: 100%;
   background-color: transparent;

}
#contactForm{
border:none;
}

#name,#email,#subject,{

height:20px;

}

#img001{
  margin-right: 13px;
}

#img002{
margin-left: 10px;
}
#myModals{

  width: 100%;
  min-height: 100%;
  background-color: transparent;
}

#name,#email,#subject{

  height:20px;

}
#message{
    border: none;
}
.section-padding{
   padding-top: 10px;
}
#inputs{
    height:10px;
}

/* .row .col.m4 {
  width: 33.33333%;
  margin-left: 0;
} */

.img-responsive{
   height: 150px;
   width:250px;
}
.popup-overlay {
  visibility:hidden;
  }
  
  .popup-content {
  visibility:hidden;
  }/* Outer */
.popup {
	width:100%;
	height:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
	max-width:700px;
	width:90%;
	padding:40px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	box-shadow:0px 2px 6px rgba(0,0,0,1);
	border-radius:3px;
	background:#fff;
}

/* Close Button */
.popup-close {
	width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius:1000px;
	background:rgba(0,0,0,0.8);
	font-family:Arial, Sans-Serif;
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
}

.popup-close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background:rgba(0,0,0,1);
	text-decoration:none;
}
