  <!--page title start-->
  <section class="page-title ptb-30">
    <div class="container padding-top-40">
        <div class="row">
            <div class="col m12">
                <h6 class="pagetitles">Case studies</h6>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Case studies</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<section class="section-padding">
  <div class="container">
    <div class="text-center mb-10">
        <!-- <h2 class="section-title text-uppercase">Works</h2> -->
        <!-- <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet vived at vestibulum purus erra at vestibulum purus diam. Nulla ac nisi rhoncus,</p> -->
       
         <h3 style="margin-top:5px;"><b>Portfolio</b></h3>
         <p align="justify">At <b>SolutionsAlly</b> we are expert in creating enterprise grade mobile apps along with complete product solution on cloud and web interfaces. We can also connect those with IoT devices to have multichannel access to your business.</p><br/>
         <p align="justify">We design customer solution keeping end consumers requirement in consideration, and simplify the solution for common user to achieve their goals. We make sure achievable goals are defined and achieved in solution design.</p><br/>
         <p align="justify">We provide one stop shop solutions for your digital presence. Starts from Mobile App Development till cloud infrastructure and Search Engine Optimisation. Our mobile app development capabilities includes all handhold devices (Android phones, Android Pads, iPhones, iPads) and wearable devices as well as cross platform development.</p><br/>
            
          <h3><b>Our Key Features</b></h3>
          <p align="justify"><b>Free Analysis And Estimation :</b> We work with our enquiries free of cost for all analysis and strategy. Our clients stick to us for our value addition. We have almost 100% client retention in past 10+ years on inception.</p><br/>
          <p align="justify"><b>Global Technology Partner:</b> We have global footprint in terms of geolocation and timezone. Our team provide support in global timezone. We work extra mile to achieve client goals and to make them satisfied with our solution.</p><br/>
          <p align="justify"><b>Customer satisfaction:</b> We will utilize all our knowledge and experience in client project execution.</p><br/>
          <p align="justify"><b> Warranty: </b>We provide One month free support along with One year warranty on our all solutions. As per our track record, clients are satisfied with this.</p><br/>
          <p align="justify"><b>Support and maintenance:</b> We have dedicated team for post production support and maintenance. We provide complete support on Software development and maintenance lifecycle.</p><br/>
          
          
    </div>


    <div class="portfolio-container text-center">
        <ul class="portfolio-filter brand-filter">
           <li class="active waves-effect waves-light filter-button" data-filter="all">All</li>
            <li class="waves-effect waves-light filter-button" data-filter="websites">Websites</li>
            <li class="waves-effect waves-light filter-button" data-filter="branding">Ecommerce</li>
            <li class="waves-effect waves-light filter-button" data-filter="dynamic">Dynamic</li>
            <li class="waves-effect waves-light filter-button" data-filter="static">Static</li>
        </ul>


        <div class="portfolio col-4 mtb-30 gutter">
            <!-- remove "gutter" class for no spacing -->


            <div class="portfolio-item gallery-images filter dynamic websites"  >
              <div class="portfolio-wrapper">

                <div class="thumb">
				   <a routerLink="/npmasterpestcontrol">
                    <div class="bg-overlay"></div>
                    </a>
                    <img src="assets/img/portfolio/npmasterpestcontrol_Screenshoot.png" alt="portfolio_8_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a  class="tt-lightbox" title=""></a>
                      </div>
                      <h2><a routerLink="/npmasterpestcontrol">Npmaster</a></h2>
                      <p><a routerLink="/npmasterpestcontrol">Branding</a></p>
                    </div>

                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
          </div><!-- /.portfolio-item -->
          

            <div class="portfolio-item gallery-images filter websites" >
                <div class="portfolio-wrapper">

                  <div class="thumb">
				     <a routerLink="/matrimony">
                      <div class="bg-overlay"></div>
					  </a>

                      <img src="assets/img/portfolio/matrimony_screenshot.png" alt="portfolio_1_solutionsally">

                      <div class="portfolio-intro">
                        <div class="action-btn">
                          <a href="assets/img/portfolio/portfolio_5_solutionsally.jpg" class="tt-lightbox" title=""></a>
                        </div>
                        <h2><a routerLink="/matrimony">Matrimony</a></h2>
                        <p><a routerLink="/matrimony">Branding</a></p>
                      </div>

                  </div><!-- thumb -->

                </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item gallery-images filter websites"> 
              <div class="portfolio-wrapper">

                <div class="thumb">
				  <a routerLink="/telepoh">
                    <div class="bg-overlay"></div>
					</a>
                    <img src="assets/img/portfolio/telepoh_screenshot.png" alt="portfolio_2_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="#">  </a>
                      </div>
                      <h2><a routerLink="/telepoh">Telepoh</a></h2>
                      <p><a routerLink="/telepoh">Marketing</a></p>
                    </div>
                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

           
            <div class="portfolio-item gallery-images filter websites">
              <div class="portfolio-wrapper">
                <div class="thumb">
				  <a routerLink="/eatsapp">
                    <div class="bg-overlay"></div>
					</a>
                    <img src="assets/img/portfolio/eatsapp_Screenshot.png" alt="portfolio_4_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                          <a class="popup-video" ></a>
                      </div>
                      <h2><a routerLink="/eatsapp">Eatsapp</a></h2>
                      <p><a routerLink="/eatsapp">Video</a></p>
                    </div>
                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->


            <div class="portfolio-item gallery-images filter websites">
              <div class="portfolio-wrapper">
                <div class="thumb">
				<a routerLink="/anand-audio">
                    <div class="bg-overlay"></div>
					</a>
                    <img src="assets/img/portfolio/anandAudio_screenshot.png" alt="portfolio_4_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                          <a class="popup-video" >   </a>
                      </div>
                      <h2><a routerLink="/anand-audio">Anand audio</a></h2>
                      <p><a routerLink="/anand-audio">Video</a></p>
                    </div>
                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item gallery-images filter dynamic websites">
              <div class="portfolio-wrapper">
                <div class="thumb">
				<a routerLink="/deepam-talent">
                    <div class="bg-overlay"></div>
					</a>
                    <img src="assets/img/portfolio/deepam_talent_screenshoot.png" alt="portfolio_5_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="assets/img/portfolio/portfolio_5_solutionsally.jpg" class="tt-lightbox" title="">  </a>
                      </div>
                      <h2><a routerLink="/deepam-talent">Deepam talent</a></h2>
                      <p><a routerLink="/deepam-talent">Branding</a></p>
                    </div>
                </div><!-- /.thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->

            <div class="portfolio-item gallery-images filter dynamic websites">
              <div class="portfolio-wrapper">
                <div class="thumb">
				<a routerLink="/sirmvinstitute">
                    <div class="bg-overlay"></div>
					</a>
                    <img src="assets/img/portfolio/sirmv_screenshot.png" alt="portfolio_6_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="#"> </a>
                      </div>
                      <h2><a routerLink="/sirmvinstitute">SIRVM Institute</a></h2>
                      <p><a routerLink="/sirmvinstitute">Marketing</a></p>
                    </div>
                </div><!-- /.thumb -->

              </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->
            <!-- npmasterpestcontrol -->

            <div class="portfolio-item gallery-images filter dynamic websites" >
                <div class="portfolio-wrapper">

                  <div class="thumb">
				   <a routerLink="/sjpchillerservices">
                      <div class="bg-overlay"></div>
                    </a>
                      <img src="assets/img/portfolio/sjp_screenshot.png" alt="portfolio_7_solutionsally">

                      <div class="portfolio-intro">
                        <div class="action-btn">
                          <a href="assets/img/portfolio/portfolio_7_solutionsally.jpg" class="tt-lightbox" title=""></a>
                        </div>
                        <h2><a routerLink="/sjpchillerservices">Portfolio Title</a></h2>
                        <p><a routerLink="/sjpchillerservices">Branding</a></p>
                      </div>

                  </div><!-- thumb -->

                </div><!-- /.portfolio-wrapper -->
            </div><!-- /.portfolio-item -->
            <div class="portfolio-item gallery-images filter branding">
              <div class="portfolio-wrapper">

                <div class="thumb">
				<a routerLink="/bebamart">
                    <div class="bg-overlay"></div>
               </a>
                    <img src="assets/img/portfolio/bebamart_screenshot.png" alt="portfolio_7_solutionsally">

                    <div class="portfolio-intro">
                      <div class="action-btn">
                        <a href="assets/img/portfolio/portfolio_7_solutionsally.jpg" class="tt-lightbox" title=""></a>
                      </div>
                      <h2><a routerLink="/bebamart">Bebamart</a></h2>
                      <p><a routerLink="/bebamart">Branding</a></p>
                    </div>

                </div><!-- thumb -->

              </div><!-- /.portfolio-wrapper -->
          </div><!-- /.portfolio-item -->
          <div class="portfolio-item gallery-images filter branding" >
            <div class="portfolio-wrapper">

              <div class="thumb">
			   <a routerLink="/nshmart">
                  <div class="bg-overlay"></div>
                </a>
                  <img src="assets/img/portfolio/nshmart_screenshot.png" alt="portfolio_7_solutionsally">

                  <div class="portfolio-intro">
                    <div class="action-btn">
                      <a href="assets/img/portfolio/nshmart_screenshot.png" class="tt-lightbox" title=""></a>
                    </div>
                    <h2><a routerLink="/nshmart">Nshmart</a></h2>
                    <p><a routerLink="/nshmart">Branding</a></p>
                  </div>

              </div><!-- thumb -->

            </div><!-- /.portfolio-wrapper -->
        </div><!-- /.portfolio-item -->
        <div class="portfolio-item gallery-images filter branding">
          <div class="portfolio-wrapper">

            <div class="thumb">
			<a routerLink="/medibuysell">
                <div class="bg-overlay"></div>
                </a>
                <img src="assets/img/portfolio/mediBuyandSell_screenshot.png" alt="portfolio_7_solutionsally">

                <div class="portfolio-intro">
                  <div class="action-btn">
                    <a href="assets/img/portfolio/mediBuyandSell_screenshot.png" class="tt-lightbox" title=""></a>
                  </div>
                  <h2><a routerLink="/medibuysell">MediBuyandSell</a></h2>
                  <p><a routerLink="/medibuysell">Branding</a></p>
                </div>

            </div><!-- thumb -->

          </div><!-- /.portfolio-wrapper -->
      </div><!-- /.portfolio-item -->
      <div class="portfolio-item gallery-images filter branding">
        <div class="portfolio-wrapper">

          <div class="thumb">
		  <a routerLink="/read-books-and-periodicals">
              <div class="bg-overlay"></div>
              </a>
              <img src="assets/img/portfolio/readbooks_screenshot.png" alt="portfolio_7_solutionsally">

              <div class="portfolio-intro">
                <div class="action-btn">
                  <a href="assets/img/portfolio/readbooks_screenshot.png" class="tt-lightbox" title=""></a>
                </div>
                <h2><a routerLink="/read-books-and-periodicals">readbooks</a></h2>
                <p><a routerLink="/read-books-and-periodicals">Branding</a></p>
              </div>

          </div><!-- thumb -->

        </div><!-- /.portfolio-wrapper -->
    </div><!-- /.portfolio-item -->
    <div class="portfolio-item gallery-images filter static">
      <div class="portfolio-wrapper">

        <div class="thumb">
		<a routerLink="/letseat">
            <div class="bg-overlay"></div>
           </a>
            <img src="assets/img/portfolio/letseat_screenshot.png" alt="portfolio_7_solutionsally">

            <div class="portfolio-intro">
              <div class="action-btn">
                <a href="assets/img/portfolio/readbooks_screenshot.png" class="tt-lightbox" title=""></a>
              </div>
              <h2><a routerLink="/letseat">Letseat</a></h2>
              <p><a routerLink="/letseat">Branding</a></p>
            </div>

        </div><!-- thumb -->

      </div><!-- /.portfolio-wrapper -->
  </div><!-- /.portfolio-item -->
  <div class="portfolio-item gallery-images filter static">
    <div class="portfolio-wrapper">

      <div class="thumb">
	  <a routerLink="/sanskritismartkids">
          <div class="bg-overlay"></div>
       </a>
          <img src="assets/img/portfolio/sanskritismartkids_screenshot.png" alt="portfolio_7_solutionsally">

          <div class="portfolio-intro">
            <div class="action-btn">
              <a href="assets/img/portfolio/readbooks_screenshot.png" class="tt-lightbox" title=""></a>
            </div>
            <h2><a routerLink="/sanskritismartkids">Sanskritismartkids</a></h2>
            <p><a routerLink="/sanskritismartkids">Branding</a></p>
          </div>

      </div><!-- thumb -->

    </div><!-- /.portfolio-wrapper -->
</div><!-- /.portfolio-item -->
<div class="portfolio-item gallery-images filter static">
  <div class="portfolio-wrapper">

    <div class="thumb">
	<a routerLink="/xbcexpress">
        <div class="bg-overlay"></div>
		</a>

        <img src="assets/img/portfolio/xbcexpress_screenshot.png" alt="portfolio_7_solutionsally">

        <div class="portfolio-intro">
          <div class="action-btn">
            <a href="assets/img/portfolio/readbooks_screenshot.png" class="tt-lightbox" title=""></a>
          </div>
          <h2><a routerLink="/xbcexpress">Xbcexpress</a></h2>
          <p><a routerLink="/xbcexpress">Branding</a></p>
        </div>

    </div><!-- thumb -->

  </div><!-- /.portfolio-wrapper -->
</div><!-- /.portfolio-item -->
<div class="portfolio-item gallery-images filter static">
  <div class="portfolio-wrapper">

    <div class="thumb">
	<a routerLink="/ticketees">
        <div class="bg-overlay"></div>
		</a>

        <img src="assets/img/portfolio/ticketees_screenshot.png" alt="portfolio_7_solutionsally">

        <div class="portfolio-intro">
          <div class="action-btn">
            <a href="assets/img/portfolio/readbooks_screenshot.png" class="tt-lightbox" title=""></a>
          </div>
          <h2><a routerLink="/ticketees">Ticketees</a></h2>
          <p><a routerLink="/ticketees">Branding</a></p>
        </div>

    </div><!-- thumb -->

  </div><!-- /.portfolio-wrapper -->
</div><!-- /.portfolio-item -->

        
            
        </div><!-- /.portfolio -->

    </div><!-- portfolio-container -->
  </div>
</section>


