


        <!--page title start-->
        <section class="page-title ptb-30">
            <div class="container padding-top-40">
                <div class="row">
                    <div class="col m12">
                        <h6 class="pagetitles">Services</h6>
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Services</a></li>
                            <li class="active">adf developer</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <!--page title end-->

		    <img src="assets/img/banners/adf_and_webcenter_developer_solutionsally_banner.png" alt="adf_and_webcenter_developer_solutionsally_banner" class="fullwidth">

              <div class="container row padding-top-20">
                  <div class="col m7">
                      <h2 class="text-bold mb-10">ADF Developer</h2>
                      <img src="assets/img/adf_architecture_solutionsally.jpg" class="img-responsive " alt="adf_architecture_solutionsally">
                  </div>

                  <div class="col m5">
                      <img src="assets/img/services/adf_developer_Bigperl.png" class="img-responsive " alt="adf_developer_Bigperl">
                  </div>
            
            </div><!-- /.container -->
        <!-- </section> -->

        <app-footer5></app-footer5>
           
        <app-footer2></app-footer2>
