<section class="padding-top-20 padding-bottom-10 brand-bg">
  <div class="container">
    
    <div class="center">
        <button class="waves-effect waves-light btn-large blue" id="btnwidth" data-popup-open="popup-1"><img id="img003" src="assets/img/ico/trending_up_solutionsally.png" alt="trending_up_solutionsally" >Get free consultation from our Experts <img id="img004"src="assets/img/ico/trending_up_solutionsally.png" alt="trending_up_solutionsally" ></button>
        <div class="modal fade popup" id="myModal" tabindex="-1" data-popup="popup-1" style="z-index:15" >
            <div class="modal-dialog" >
              <div class="popup-inner">
                <div class="modal-header">
                 
                  <h4 class="modal-title">Contact Us</h4>
                </div>
                <div class="modal-body">
                      <div class="row">
                      <div class="col m12">
                        <form method="post" id="contactForm" (ngSubmit)="login();contactform3.reset(); Success()" #contactform3="ngForm" >
                          <div class="row">
                            <div class="col m6">
                              <div class="input-field">
                                <i class="fa fa-user prefix fontcolors"></i>
                                <input type="text" name="name" class="validate" id="name" [(ngModel)]='name'  #userFullName="ngModel"
                                [ngClass]="{'is-invalid':userFullName.errors && userFullName.touched}"     required minlength="2">
                                <label for="name">Name</label>
                              </div>
                            </div><!-- /.col m6 -->
                            <div class="col m6">
                              <div class="input-field">
                                <i class="fa fa-envelope prefix fontcolors"></i>
                                <input id="email" type="email" name="email" class="validate" [(ngModel)]='email' #userEmail="ngModel"
                                [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                                pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" 
                                 >
                                <label for="email" data-error="wrong" data-success="right">Email</label>

                              </div>
                            </div><!-- /.col m6 -->
                           
                          </div><!-- /.row -->

                          <div class="row">
                            <div class="col m12">
                              <div class="input-field">
                                <i class="fa fa-book prefix fontcolors"></i>
                                <input id="subject" type="tel" name="subject" class="validate" [(ngModel)]='subject' #userSubject="ngModel"
                                [ngClass]="{'is-invalid':userSubject.errors && userSubject.touched}"     required minlength="2">
                                <label for="subject">Subject</label>
                              </div>
                            </div><!-- /.col m6 -->
                            </div>
                          <div class="input-field">
                            <i class="fa fa-commenting-o prefix fontcolors"></i>
                            <textarea name="message" id="message"  class="form-control" [(ngModel)]='message'  ></textarea>
                            <label for="message">Message</label>
                          </div>
                          <button type="submit" name="submit" class="btn-sm btnclass" [disabled]="!contactform3.form.valid" >Send Message</button>
                          </form>
                         

                          <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                      </div>
                </div>
              </div>
            </div>
          </div>
          </div>

    </div>
  </div>
</section>
<section class="section-padding banner-10 bg-fixed parallax-bg overlay light-9" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="center ptb-30">
        <h2 class="section-title text-uppercase">Technologies we use</h2>
        <p class="section-sub">We believe in Scalability, Performance, Usability and No Customer Locking. Our team always use best-proven technologies best as per global standards.</p>
    </div>


    <div class="featured-carousel brand-dot">
        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <img src="assets/img/angular_logo_solutionsally.png" alt="angular_logo_solutionsally">
            </div>
            <div class="desc">
                <h2>Angular JS</h2>
                <p>Supported by Google Angular JS is not fasted growing user interface framework built in javascript. It increases performance, usability, and interactivity ...</p>
            </div>



        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <img src="assets/img/node_logo_solutionsally.png" alt="node_logo_solutionsally">
            </div>
            <div class="desc">
                <h2>Node JS</h2>
                <p>First time in the history of technology javascript become one of the powerful one of the powerfull back-end technology. Widely accepted ..</p>
            </div>
        </div><!-- /.featured-item -->

        <div class="featured-item border-box radius-4 hover brand-hover">
            <div class="icon mb-30">
                <img src="assets/img/material_logo_solutionsally.png" alt="material_logo_solutionsally">
            </div>
            <div class="desc">
                <h2>materialize CSS</h2>
                <p>The innovation of Google which is changing the way websites are getting designed. Material design is bringing in highest level of interactivity ...</p>
            </div>
        </div><!-- /.featured-item -->
    </div>

  </div><!-- /.container -->
  <div class="mocup-wrapper text-center">
      <img src="assets/img/landscape_mockup_solutionsally.jpg" alt="image">
  </div>
</section><br>
