<!--footer 1 start -->
<footer class="footer footer-one">
  <div class="primary-footer brand-bg">
      <div class="container">
<!-- 
          <a href="#top" id="back2Top" class="page-scroll btn-floating btn-large pink back-top waves-effect waves-light tt-animate btt" data-section="#top" style="margin-top: 80px;">
                    <i class="material-icons">keyboard_arrow_up</i>   
                  </a> -->
               
                 
          <div class="row">
              <div class="col m3 widget clearfix">
                  <h2 class="white-text">About Solutionsally</h2>
                  <p>Solutionsally is Mobile Application Development Company specialized in Mobility, Internet Of Things, Software Development and Cloud Based Technologies. Founded in 2012, Solutionsally is now providing solutions across the globe and having deep presence in India ,United States ,Canada,United Kingdom and Australia.</p>

                  <ul class="social-link tt-animate ltr">
                      <li><a href="https://www.facebook.com/solutionsally/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/MySolutionsAlly" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://solutionsally.tumblr.com/post/189489362666/we-are-the-best-e-commerce-website-developer-in" target="_blank"><i class="fa fa-tumblr"></i></a></li>
                      <li><a href="https://www.linkedin.com/company/solutionsally/?viewAsMember=true" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="https://www.youtube.com/channel/UChJHyQrgaAQp39-T6J5tsUg" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                      <li><a href="https://www.instagram.com/solutionsally/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                      
                  </ul>
              </div>
              <!-- /.col-md-3 -->

              <div class="col m3 widget">
                  <h2 class="white-text">Imporant links</h2>

                  <ul class="footer-list">
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Terms &amp; Condition</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="contact-us">Contact Us</a></li>
                  </ul>
              </div>
              <!-- /.col-md-3 -->

              <div class="col m3 widget">
                  <h2 class="white-text">Our Specilizations</h2>

                  <ul class="footer-list">
                      <li><a routerLink="/android-app-development">Android Application Development</a></li>
                      <li><a routerLink="/iphone-app-development">iOS Application Development</a></li>
                      <li><a routerLink="/windows-app-development">Windows Application Development</a></li>
                      <li><a href="#">Mobile App Remediation (Android / iOS)</a></li>
                      <li><a routerLink="/web-application-development">Website Development</a></li>
                      <li><a routerLink="/internet-of-things">Internet Of Things</a></li>
                      <li><a href="#">Search Engine Optimization</a></li>
                  </ul>
              </div>
              <!-- /.col-md-3 -->

              <div class="col m3 widget">
                  <!--      <h2 class="white-text">Subcribe Widget</h2>-->
                  <a href="javascript:" id="return-to-top" class="pull-right"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
                  <div class="widget-tags " style="padding:10px">
                      <h2 class="white-text">Tag Cloud</h2>


                      <form method="post" id="contactForm6" (ngSubmit)="subscribe(); subscribeform3.reset(); Success()" #subscribeform3="ngForm" >
                        <div class="form-group clearfix">
                            <label class="sr-only" for="subscribe">Email address</label>
                            <input type="email" class="form-control" name="email" id="subscribe" placeholder="Email address"   [(ngModel)]='email' #userEmail="ngModel"
                            [ngClass]="{'is-invalid':userEmail.errors && userEmail.touched}"  required 
                            pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" >
                            <button type="submit" name="submit" class="tt-animate ltr"  [disabled]="!subscribeform3.form.valid" ><i class="fa fa-long-arrow-right"></i></button>

                        </div>
                    </form>
                      <a routerLink="/android-app-development">Android App Development</a>
                      <a routerLink="/iphone-app-development">iOS App Development</a>
                      <a href="#">Mobile App Remediation</a>
                      <a routerLink="/web-application-development">Web Development</a>
                      <a href="#">Search Engine Optimization</a>
                  </div>
                  <!-- /.widget-tags -->
              </div>
              <!-- /.col-md-3 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </div>
  <!-- /.primary-footer -->

  <div class="secondary-footer brand-bg darken-2">
      <div class="container">
          <span class="copy-text">Copyright &copy; 2017 <a href="http://solutionsally.com" target="_blank">Solutionsally</a> &nbsp;  | &nbsp;  All Rights Reserved </span>
      </div>
      <!-- /.container -->
  </div>
  <!-- /.secondary-footer -->

 
</footer>
<!--footer 1 end-->
