<section class="padding-top-20 padding-bottom-10 brand-bg">
  <div class="container">
    
    <div class="text-center">
        <button class="waves-effect waves-light btn-large blue" id="btnwidth" data-toggle="modal" data-target="#myModals"><img src="assets/img/ico/trending_up_solutionsally.png" alt="trending_up_solutionsally" style="margin-right: 13px;">Get free consultation from our Experts <img src="assets/img/ico/trending_up_solutionsally.png" alt="trending_up_solutionsally" style="margin-left: 10px;"></button>
        <div class="modal fade" id="myModals" tabindex="-1"  style="width: 100%;min-height: 100%;background-color: transparent;">
                          <div class="modal-dialog" >
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"   ><span   >&times;</span></button>
                                <h4 class="modal-title">Contact Us</h4>
                              </div>
                              <div class="modal-body">
                                    <div class="row">
                                    <div class="col-md-12">
                                      <form method="post"  id="contactForm" (ngSubmit)="login();login(); contactform4.reset(); Success()" #contactform4="ngForm">
                                        <div class="row">
                                          <div class="col-md-6">
                                            <div class="input-field">
                                              <i class="fa fa-user prefix fontcolors"></i>
                                              <input type="text" name="name" class="validate" id="name" [(ngModel)]='name' >
                                              <label for="name">Name</label>
                                            </div>
                                          </div><!-- /.col-md-6 -->
                                          <div class="col-md-6">
                                            <div class="input-field">
                                              <i class="fa fa-envelope prefix fontcolors"></i>
                                              <input id="email" type="email" name="email" class="validate" [(ngModel)]='email' >
                                              <label for="email" data-error="wrong" data-success="right">Email</label>
                                            </div>
                                          </div><!-- /.col-md-6 -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                          <div class="col-md-12">
                                            <div class="input-field">
                                              <i class="fa fa-book prefix fontcolors"></i>
                                              <input id="subject" type="tel" name="subject" class="validate" [(ngModel)]='subject' >
                                              <label for="subject">Subject</label>
                                            </div>
                                          </div><!-- /.col-md-6 -->
                                          </div>
                                        <div class="input-field">
                                          <i class="fa fa-commenting-o prefix fontcolors"></i>
                                          <textarea name="message" id="message" class="materialize-textarea" [(ngModel)]='message' ></textarea>
                                          <label for="message">Message</label>
                                        </div>
                                        <button type="submit" name="submit" class="btn-sm btnclass"  [disabled]="!contactform4.form.valid" >Send Message</button>
                                        </form>
                                    </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
    </div>
  </div>
</section>
