
  <!--page title start-->
  <section class="page-title ptb-30">
        <div class="container padding-top-40">
            <div class="row">
                <div class="col m12">
                    <h6 class="pagetitles">Services</h6>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">products</a></li>
                        <li class="active">hotel management system</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!--page title end-->

        <img src="assets/img/products/banner/hotel_management_solutionsally.png" class="fullwidth" alt="hotel_management_solutionsally">

          <div class="container row padding-top-20">
              <div class="col m7">
                  <h2 class="text-bold mb-10">Hotel Management System</h2>
                  <p>To succeed in your business, independent hoteliers need a comprehensive solution that is flexible and agile.</p>
                  <p>Hotel Management System is an ideal software solution for Hospitality Industry that can be used at hotels, motels, inns, resorts, lodges etc.</p>
                  <p class="text-justified">Bigperl’s product of Hotel Management System is a comprehensive software suite consisting of integrated modules for various aspects of hotel management.It includes all the features required in a Hotel Management Software, Hotel Reservation Software, Hotel Reception Software (Front Office), Call Accounting, Hotel Point of Sales (Restaurant, Bar, Room Service, House Keeping or any other outlet), Inventory Management System and Hotel accounting software.</p>
              </div>
              <div class="col m5">
                  <img src="assets/img/products/hotel_management_solutionsally.png" class="img-responsive " alt="hotel_management_solutionsally">
              </div>
          </div>


<app-footer5></app-footer5>
           
<app-footer2></app-footer2>
